{{#fillSection "metaDescription"}}This is an example account creation page for your application experience.{{/fillSection}}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      <div class="well">
        <p>
          This is an example account creation page. If you wish to allow users to self-register in your experience, you can start by copying this page.
        </p>
      </div>
      {{component "profileForm"}}
    </div>
  </div>
</div>
