{{#fillSection "metaDescription"}}This is an example reset password page for your application experience.{{/fillSection}}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      <div class="well">
        <p>
          This is an example reset password page. Users will come here from a link they click in their email when attempting to reset their password.
        </p>
        <p>
          In the workflow, we validate the token and allow the user to enter a new password.
        </p>
      </div>
      {{#if pageData.resetPasswordFailure}}
        {{component "errorAlert" pageData.resetPasswordFailure}}
      {{/if}}
      <form method="post">
        <div class="form-group">
          <label for="email" id="email">Email address</label>
          <input autofocus required value="{{experience.user.email}}" type="email" class="form-control" name="email" id="email" placeholder="The address from which the request originated">
        </div>
        <div class="form-group">
          <label for="password" id="password">New password</label>
          <input required minlength="8" maxlength="8" type="password" class="form-control" name="password" id="password" placeholder="At least 8 characters">
        </div>
        <button type="submit" class="btn btn-success">Reset My Password</button>
      </form>
    </div>
  </div>
</div>
